.action-button {
  color: white;
  background-color: $button-colour;
  border-radius: 0;
}

.input-group-addon__with-button {
  padding: 1px;

  .btn {
    background-color: inherit;
    border: 0;
  }
}

