.js #global-cookie-message {
  display: none; /* shown with JS, always on for non-JS */
}

#global-cookie-message {
  width: 100%;
  background-color: $light-blue-25;
  padding-top: 10px;
  padding-bottom: 10px;
  p {
    @extend .container;
    margin-top: 0;
    margin-bottom: 0;
  }
}
