.o-top-colour-bar--bar {
  width: 100%;
  height: 10px;
  background-color: $ea-dark-green;
  margin-bottom: 0;
}

.o-top-colour-bar--no-phase {
  width: 100%;
  height: 10px;
  background-color: $ea-dark-green;
  margin-bottom: 2em;
}

.o-navbar-ea {
  background-color: $top-bar-bg-colour;
  margin-bottom: 0 !important;

  .container {
    margin-bottom: 0.75em;
  }

  li {
    padding: 0;
    margin-right: 18px;
  }

  li.pull-right.s-rightmost {
    margin-right: 0;
  }

  a, li a, .c-navbar-menu-item {
    line-height: normal !important;
  }

  a, .c-navbar-menu-item {
    font-size: 110%;
    padding: 5px 0 0 !important;
    font-weight: bold;
  }

  a, a:focus, a:hover, li a:focus, li a:hover, .c-navbar-menu-item {
    background-color: $top-bar-bg-colour !important;
    color: $top-bar-link-colour;
  }

  a:hover {
    text-decoration: none;
    border-bottom: 3px solid $top-bar-link-underline-colour;
    margin-bottom: -3px;
  }

  li.active a, li.active .c-navbar-menu-item {
    color: $top-bar-link-active-colour;
    border-bottom: 3px solid $top-bar-link-active-underline-colour;
    margin-bottom: -3px;
  }

  li.active a:hover {
    border-bottom-color: $top-bar-link-underline-colour;
  }

  a.navbar-brand {
    margin-left: 0 !important;
  }

  a.navbar-brand:hover {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.o-navbar-ea-brand--img {
  max-height: 60px;
}

.c-proposition-name {
  color: white;
  font-weight: bold;
  margin: 12px 4px 4px 0;
  font-size: 115%;
}

@media (min-width: $screen-md-min) {
  .o-navbar-ea {
    li {
      margin-right: 24px;
    }

    li.pull-right.s-rightmost {
      margin-right: 0;
    }
  }
}

@media (max-width: $screen-sm-min) {
  .c-proposition-name {
    display: none;
  }
}

// modify Bootstrap defaults

.navbar-brand {
  padding: 5px 15px;
}

.navbar-collapse.in {
  a {
    color: $top-bar-link-colour;
  }
  a:hover {
    color: $top-bar-link-active-colour;
  }

  background-color: $black;
  background-color: transparentize( $black, 0.1 );
  z-index: 1;
}

.navbar-collapse.in, .navbar-collapse.collapsing {
  text-align: right;
  li.pull-right {
    float: none !important;
  }
}

.navbar-toggle .icon-bar {
  background-color: #f0f0f0;
}


