.o-station-details--list {
  @extend .list-unstyled;
}

.c-station-detail--summary-list {
  @extend .list-unstyled;
}

.c-station-detail--title {
  font-weight: bold;
  font-size: 16px;
}

.c-station-latest-reading--heading {
  font-weight: bold;
  font-size: inherit;
  margin-bottom: 0;
  margin-top: 0;
}

.c-station-latest-reading--list {
  @extend .list-unstyled;
}

.c-api-details-btn {
  font-size: 85%;
  background-color: $grey-1;
  color: white;
  border-radius: 3px;
  padding: 3px 5px;
  font-weight: normal;
  border: 0;
  margin-left: 10px;
}
