<footer class="o-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="">
          <div class="c-footer-credits">
            <h4 class="">Support</h4>
            <p>
              To contact the Environment Agency, please use
              <a class="indicator i18n" href="https://www.gov.uk/government/organisations/environment-agency#org-contacts">our contacts page.</a>
            </p>
            <p>
              If you notice a problem with the data provided by this site, please <a href="mailto:data.info@environment-agency.gov.uk">send us an email</a>.
            </p>
            <p>
              Find out about the <a href="/cookies">use of cookies</a> on this site.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <h4>About this page</h4>
        <p class="c-footer-license">
          <a href="http://data.gov.uk/linked-data">
            <img class="c-linked-data-logo" src="images/logo/linked-data-logo-white.png" srcset="images/logo/linked-data-logo-white.svg" alt="powered by linked data" />
          </a>
        </p>
        <p>
          All content is available under the
          <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>,
          except where otherwise stated
        </p>
        <p class="c-footer-epimorphics">
          <span class="i18n">Design and development by</span>
          <a href="http://www.epimorphics.com">Epimorphics</a>.
        </p>
      </div>

    </div><!--/.row-->
  </div>
</footer>
