<form>
  <div class="form-group row">
    <label for="riverName" class="col-sm-2 col-form-label">Station name</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input type="text" class="form-control" id="stationName" name="stationName" />
        <span class="input-group-addon input-group-addon__with-button">
          <button class="btn btn-sm btn-default js-action-search">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="riverName" class="col-sm-2 col-form-label">River name</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input type="text" class="form-control" id="riverName" name="riverName" />
        <span class="input-group-addon input-group-addon__with-button">
          <button class="btn btn-sm btn-default js-action-search">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="catchmentName" class="col-sm-2 col-form-label">Catchment name</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input type="text" class="form-control" id="catchmentName" name="catchmentName" />
        <span class="input-group-addon input-group-addon__with-button">
          <button class="btn btn-sm btn-default js-action-search">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="">
      <fieldset>
        <legend class="col-sm-2">Location</legend>
        <div  class="form-inline col-sm-10">
          <div class="form-group">
            <label for="long" class="">Longitude</label>
            <div class="input-group">
              <input type="number" class="form-control" id="long" name="long" />
              <span class="input-group-addon input-group-addon__with-button">
                <button class="btn btn-sm btn-default js-action-search">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="lat" class="">Latitude</label>
            <div class="input-group">
              <input type="number" class="form-control" id="lat" name="lat" />
              <span class="input-group-addon input-group-addon__with-button">
                <button class="btn btn-sm btn-default js-action-search">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="dist" class="">Radius (km)</label>
            <div class="input-group">
              <input type="number" class="form-control" id="dist" name="dist" />
              <span class="input-group-addon input-group-addon__with-button">
                <button class="btn btn-sm btn-default js-action-search">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</form>
